# =========================

# Angular / Node

# =========================

node_modules/
dist/
out-tsc/
.angular/
.cache/
coverage/
tmp/
temp/

# =========================

# Logs

# =========================

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# =========================

# Environment files

# =========================

src/environments/*.local.ts
src/environments/*.prod.ts
.env
.env.*.local

# =========================

# OS files

# =========================

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# =========================

# IDE / Editors

# =========================

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =========================

# Build outputs / misc

# =========================

*.tsbuildinfo
*.tgz

# =========================

# Angular cache / test artifacts

# =========================

karma.conf.js.timestamp-*
junit.xml

# =========================

# Optional: SSR / server

# =========================

# Si usas SSR y generas builds de server:

dist-server/
server/dist/

# =========================

# Optional: Cypress / e2e

# =========================

cypress/videos/
cypress/screenshots/

# =========================

# Optional: Mac/Linux temp

# =========================

*.pid
*.seed
*.pid.lock
